@-webkit-keyframes rotatingNumCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotatingNumCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1350px) {
  .about__screen .about__row .about__column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about__screen .about__row .about__column .about__circle-wrapper {
    left: auto;
    right: 0;
    top: 25%;
  }
  .about__screen .about__row .video__wrapper .play-button {
    height: 35%;
  }
}
@media (max-width: 1050px) {
  .menu {
    z-index: 11;
  }

  .about__screen .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__screen .about__row .about__column,
.about__screen .about__row .about__title-block {
    width: 100%;
  }
  .about__screen .about__row .about__title-block {
    margin-bottom: 125px;
  }
  .about__screen .about__row .video__wrapper {
    width: 100%;
    margin-bottom: 5%;
  }
  .about__screen .about__row .video__wrapper .video-name {
    font-size: 4vw;
  }
  .about__screen .about__row .video__wrapper:last-child {
    margin-bottom: 10%;
  }
}
@media (max-width: 1000px) {
  .about__screen .main__screen-title_144 {
    font-size: 12.5vw;
  }
  .about__screen .about__row .about__column .about__circle-wrapper {
    right: 15%;
  }
}
@media (max-width: 500px) {
  .main__wrapper {
    overflow: hidden;
  }
  .main__wrapper .about__screen .about__row .about__title-block .screen__subtitle {
    line-height: 25px;
  }
  .main__wrapper .about__screen .about__row .about__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: auto;
    left: 38.5%;
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle {
    width: 70px;
    height: 70px;
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle img {
    width: 35%;
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle_fst {
    left: calc(35% - 90px);
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle_thrd {
    left: calc(80% - 90px);
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle_main {
    left: calc(55% - 90px);
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper .about__circle-block .about__circle-content {
    -webkit-transform: translate(-10px, 0px) rotate(var(--rot)) translate(0, -130px);
            transform: translate(-10px, 0px) rotate(var(--rot)) translate(0, -130px);
  }
}
@media (max-width: 400px) {
  .main__wrapper {
    overflow: hidden;
  }
  .main__wrapper .about__screen .about__row .about__title-block .screen__subtitle {
    line-height: 25px;
  }
  .main__wrapper .about__screen .about__row .about__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__wrapper .about__screen .about__row .about__column .about__circle-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 28.5vw;
  }
}