@media(max-width: 1650px) {

    // on all pages
    .menu {
        padding-top: 40px;

        .menu__company-name {
            font-size: 36px;
        }

        .menu__links {
            .menu__link {
                font-size: 18px;
            }
        }
    }

    // on all pages
}

@media(max-width: 1270px) {

    // on all pages
    .menu {
        .menu__company-name {
            font-size: 27px;
        }

        .menu__links {
            .menu__link {
                font-size: 16px;
            }
        }
    }

    // on all pages
}

@media(max-width: 1000px) {

    // on all pages
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;

        background-color: black;

        padding-top: 25px;
    }

    // on all pages
}